body{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: repeat;
}
h1{
    color: black;
    font-family: "Arial Black", serif;
    text-align: center;
    font-size: 50px;

}