<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Kirjoita päiväkirjaan</title>
</head>
<body>
    <h1>Luo päiväkirjaan uusi merkintä</h1>

    <form th:action="@{/post}" method="post">
        <label for="title">Otsikko: </label>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
       <input type="text" id="title" name="title"><br><br>


        <label for="content">Teksti:</label>
        <textarea id="content" name="content"></textarea>


        <button type="submit">Lisää</button>
    </form>
</body>
</html>