<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Kirjoita päiväkirjaan</title>
</head>
<body>
    <h1>Luo päiväkirjaan uusi merkintä</h1>

    <form th:action="@{/writeDiary}" method="post">
        <label for="title">Otsikko: </label>
        <input type="text" id="title" name="title"><br><br>


        <label>
        <textarea name="teksti"></textarea>

        </label>
        <button type="submit">Lisää</button>
    </form>
</body>
</html>